body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: 320px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Raleway',sans-serif;
    font-size: 56px;
    font-weight: 200;
    margin-bottom: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

section.left div.l-texts {
    display: block;
    text-align: left;
    padding-left: 150px;
    width: 450px;
    height: 65px;
}

section.right div.r-texts {
    display: block;
    text-align: right !important;
    width: 442px;
    margin: 0 1000px;
}



#bg-1{
    text-align: center;
    background-image: url(../images/bg-single-1.jpg);
}

#bg-2{
    background-image: url(../images/bg-single-2.jpg);
}

#bg-3{
    background-image: url(../images/bg-single-3.jpg);
}

#bg-4{
    background-image: url(../images/bg-single-4.jpg);
}

#bg-5{
    background-image: url(../images/bg-single-5.jpg);
}

#bg-6{
    background-image: url(../images/bg-single-6.jpg);
}

#bg-7{
    background-image: url(../images/bg-single-7.jpg);
}

#bg-8{
    background-image: url(../images/bg-single-8.jpg);
}

#bg-9{
    background-image: url(../images/bg-single-9.jpg);
}

.right {
    color: white;
}

.left {
    color: black;
}